<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <root>
      <level value="DEBUG" xdt:Transform="Replace"/>
    </root>
    <appender name="rollingfileappender" type="log4net.Appender.RollingFileAppender">
      <file value=".\\Logs\\DebugLog.txt" xdt:Transform="Replace"/>
    </appender>
    <appender name="db-appender" type="log4net.Appender.AdoNetAppender">
      <connectionString value="data source=.\DebugSQL2014;initial catalog=TransactionDb;user id=webuser;password=P@55w0rd;" xdt:Transform="Replace"/>
    </appender>
  </log4net>
</configuration>